# Requirements to use all functions in DDF Library.

pandas>=0.23.4
scikit-learn>=0.20.3
numpy>=1.16.0
scipy>=1.2.1
Pyqtree>=0.24
matplotlib>=1.5.1
networkx>=1.11
pyshp>=1.2.11
nltk>=3.4
graphviz>=0.5.2
prettytable>=0.7.2
guppy3>=3.0.9
dill>=0.3.1.1
